
{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    {% if movie and movie.title %}
    <div class="example-wrapper">
        <h1>{{ movie.title }}</h1>

        <ul>
            <li>Id : {{ movie.id }}</li>
            <li>Released At : {{ movie.releasedAt|date('d F Y') }}</li>
            <li>Genres : {{ movie.genre|map(genre => genre.name)|join(', ') }}</li>
            <div class="card w-50">
                <img src="{{ movie.poster }}" alt="{{ movie.poster }}">
            </div>
        </ul>
    </div>
    {% endif %}
{% endblock %}